.animation-container {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.moving-object {
  width: 100px;
  height: 100px;
  background-image: url('../../assets/run.gif'); /* Replace with your image path */
  background-size: contain; /* Adjusted to fit the image within the element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: moveLeftToRight 60s linear forwards; /* Move over 60 seconds and stop */
}

.helicopter {
  position: absolute;
  bottom: 50px;
  right: 10px;
  width: 400px;
  height: auto;
}

@keyframes moveLeftToRight {
  0% {
    left: -50px;
    opacity: 1;
  }
  100% {
    left: calc(100% - 360px); /* Stop next to the helicopter */
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards; /* Apply smooth fade-out animation */
}

